<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspace.login.service.impl.LoginMapper">

	<select id="selectCorrespondPassword" parameterType="String" resultType="String">
	
		select password from magunies_user where id=#{id};
		
	</select>
	
	<insert id="" parameterType="Map">


	</insert>

</mapper> 

